/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- body --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}
/*----------- header --------------*/

header {
    padding: .5rem 2%;
    background-color: white;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}
header figure.logo {
    float: left;
    margin: 0 2% 0 0;
}

/*----------- navigation --------------*/
nav {
    background-color: lightyellow;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color: gray;
    color: lightgray;
    border-left: 1px solid black;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: lightgreen;
    color: gray;
}
nav ul li.active a  {
    background-color: white;
    color: gray;
}

/*----------- main --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}
main figure.myphoto {
    width: 50%;
    margin: 0 0 0 2%;
    float: right;
}
main figure.myphoto img {width: 100%;}
main figure.myphoto figcaption {text-align: center;font-size: .75rem;}

/*----------- footer --------------*/
footer {
    background-color: white;
    padding: .5rem 2%;
    text-align: center;
}

/*----------- clearfix --------------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
